body{
    margin: 0;
    font-family: cursive;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colorContainer{
    background-color: red;
    margin: 5px;
    width: 250px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  solid black 2px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .5);
    /* box-shadow: 0 4px 8px rgba(0,0,0, .3); */
    font-size: 25px;
}